
.producto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.caja1{
    border: solid 0.5px rgb(230, 230, 230);
    width: 28%;
    height: 300px;
    box-shadow: 7px 3px 13px #00000029;
    margin-top: 30px;
    text-align: center;
    
}

.caja1 img {
    width: 80%;
    height: 100%;
    /* border: solid 1px red;
    margin: 0 auto; */
}